/* Header */
header {
    height: 100px;
    background-color: #2C3E50;
}

header .col-4 {
    height: 50px;
}

/* Main */
/* Jumbotron */
#jumbotron {
    height: 500px;
    background-color: #1ABC9C;
}

#jumbotron .col-11 {
    height: 400px;
}