/* Generics */
img {
    width: 100%;
    display: inline;
}

/* Utils */
.bar-divider {
    height: 4px;
    width: 70px;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
}

/* Header */
header {
    background-color: #2C3E50;
}

.navbar-toggler {
    border: 1px solid white;
}

.navbar-toggler-icon {
    color: gray;
}

/* Main */
/* Jumbotron */
#jumbotron {
    height: 450px;
    background-color: #1ABC9C;
}

#jumbotron .col-11 {
    height: 400px;
}

#jumbotron img {
    width: 200px;
}

#jumbotron .card {
    background-color: #1ABC9C;
}

#jumbotron .list-group-item {
    background-color: #1ABC9C;
}

/* Portfolio */
#portfolio {
    padding-bottom: 50px;
}

#portfolio h2 {
    color: #2C3E50;
}

#portfolio .fa-star {
    color: #2C3E50;
}

#portfolio .bar-divider {
    background-color: #2C3E50;
}

/* About */ 
#about {
    background-color: #1ABC9C;
}

#about .col-12 {
    min-height: 50px;
}

#about .btn {
    background-color: #1ABC9C;
    border-color: white;
}

/* Footer */
#footer-top {
    min-height: 300px;
    background-color: #3A546D;
}

#footer-top .col-12 {
    min-height: 50px;
}

#footer-bottom {
    background-color: #2C3E50;
}

#footer-bottom .col-12 {
    min-height: 50px;
}